<h1>Hello Angular Demo!</h1>
<h2>sl-accordion</h2>
<sl-accordion single>
  <sl-accordion-item summary="Test 1">
    Extended content for Test 1
  </sl-accordion-item>
  <sl-accordion-item summary="Test 2" [disabled]="true">
    Extended content for Test 2
  </sl-accordion-item>
</sl-accordion>
<h2>sl-breadcrumbs</h2>
<sl-breadcrumbs>
  <a href="about:blank" target="_blank" rel="noopener noreferrer">Test 1</a>
</sl-breadcrumbs>
<h2>sl-button</h2>
<sl-button variant="info" size="lg" (click)="openBlankPage()">Button</sl-button>
<h2>sl-button-bar</h2>
<sl-button-bar align="start">
  <sl-button variant="primary" fill="solid" [disabled]="true">Test 1</sl-button>
  <sl-button variant="primary" fill="solid" (click)="openBlankPage()"
    >Test 2</sl-button
  >
</sl-button-bar>
<h2>sl-callout</h2>
<sl-callout variant="info">
  <h2 slot="title">Test title</h2>
  Test description.
  <a href="about:blank" target="_blank" rel="noopener noreferrer">Open link</a>
  <sl-button fill="outline" variant="info" (click)="openBlankPage()"
    >Open page</sl-button
  >
</sl-callout>
