.visually-hidden {
  block-size: 1px !important;
  border: 0 !important;
  clip-path: rect(0 0 0 0) !important;
  inline-size: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}
