@import url('../../../node_modules/@sl-design-system/sanoma-learning/light.css');

html,
body {
  font-family:
    source-sans-pro,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

h1 {
  color: var(--sl-color-palette-orange-500);
}

button {
  cursor: pointer;
  font-size: 1em;
  margin-block-start: 0.5em;
  padding: 0.5em 1em;
}
